<link rel="stylesheet" href="css/ionicons.min.css">
<link rel="stylesheet" href="css/stylefooter.css">
<hr style="background-color: rgb(192, 173, 166);height: 3px;">
<footer class="footer-03">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
     
        </div>
      </div>
      <div class="col-md-6">
        <div class="row justify-content-end">
          <div class="col-md-12 col-lg-11 mb-md-0 mb-4">
            <h2 class="footer-heading">Contact Us</h2>
            <ul class="ftco-footer-social p-0">
              <li class="ftco-animate"><a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Twitter"><span >✉️ ngoransebastjunior@gmail.com</span></a></li>
              <li class="ftco-animate"><a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Facebook"><span>✉️ parfaitkouess@gmail.com</span></a></li>

            </ul>

          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5 pt-4 border-top">
      <div class="col-md-6 col-lg-8">

        <p class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | HackRapid 
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
      </div>
      <div class="col-md-6 col-lg-4 text-md-right">
        <p class="mb-0 list-unstyled">
          <a class="mr-md-3" href="javascript:void(0)">Terms &amp; Conditions</a>
          <a class="mr-md-3" href="javascript:void(0)">Privacy</a>
        </p>
      </div>
    </div>
  </div>
</footer>
