    <!-- footer -->
    <footer class="footer text-center text-white">
        <!-- Grid container -->
        <div class="container p-4">
  
  
          <!-- Section: Form -->
          <section class="">
            <form action="">
              <!--Grid row-->
              <div class="row d-flex justify-content-center">
                <!--Grid column-->
                <div class="col-auto">
                  <p class="pt-2">
                    <strong>
                      Voulez-vous connaitre les nouveautés ? Entrer votre Email.
                    </strong>
                  </p>
                </div>
                <!--Grid column-->
  
                <!--Grid column-->
                <div class="col-md-5 col-12">
                  <!-- Email input -->
                  <div class="form-outline form-white mb-4">
                    <input type="email" id="form5Example21" class="form-control" />
                    <label class="form-label" for="form5Example21">Votre email</label>
                  </div>
                </div>
                <!--Grid column-->
  
                <!--Grid column-->
                <div class="col-auto">
                  <!-- Submit button -->
                  <button type="submit" class="btn btn-outline-light mb-4">
                    Envoyer
                  </button>
                </div>
                <!--Grid column-->
              </div>
              <!--Grid row-->
            </form>
          </section>
          <!-- Section: Form -->
  
          <!-- Section: Text -->
          <section class="mb-4">
            <p>
              La reference pour tous vos achats et ventes de produits et services sur Internet, efficace, sure avec des
              moyens de paiements simplifiés.
            </p>
          </section>
          <!-- Section: Text -->
  
          <!-- Section: Links -->
          <section class="">
            <!--Grid row-->
            <div class="row mx-auto text-center">
              <!--Grid column-->
              <div class="">
                <h5 class="text-uppercase">Nos Contacts</h5>
  
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#!" class="text-white">
                      ngoransebastjunior@gmail.com
  
                    </a>
                  </li>
                  <li>
                    <a href="#!" class="text-white">
                      parfaitkouess@gmail.com
                    </a>
                  </li>
                  <li>
                    <a href="#!" class="text-white">
  
                    </a>
                  </li>
  
                </ul>
              </div>
              <!--Grid column-->
  
  
            </div>
            <!--Grid row-->
          </section>
          <!-- Section: Links -->
        </div>
        <!-- Grid container -->
  
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2022 Copyright:
          <a class="text-white" href="/"></a>
        </div>
        <!-- Copyright -->
      </footer>