
        <!-- Navbar -->
        <nav style="border-bottom: none; font-size: 19px;" class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
              <a class="navbar-brand" href="/">
                <img src="/images/navbar/logo.png" style="width: 90px; height: 60px;" /> <p class="h1"><span style="color: orange;">HACK</span><span>-</span><span style="color: dodgerblue;">RAPYD</span></p>
              </a>
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
            
                  
            
            <div class="search-content mx-auto d-md-block d-none">
                <div class="pseudo-search" style="border: 2px solid orange;">
                    <input  type="text" placeholder="Search products..." autofocus required>
                    
                   
                    <button class="fa fa-search" type="submit"></button>
                  </div>
            </div>
            
      
              <div class="d-flex align-items-center navbar-item-contenair" >
                   
                <a class="text-reset me-5 navbar--link" href="/">
                   <span class="d-md-inline" ><span class="fa fa-shop fs-20" style="color: dodgerblue;"></span> Shop</span> 
                
                </a>
      
      
      
               <a class="text-reset me-5 navbar--link" href="#">
                <i class="fas fa-shopping-cart"></i>
                <span class="d-md-inline" >Basket <i ><span id="panier" class="badge badge-danger fw-500" style="font-size: 18px;border: 1px solid orangered;">
                   <%= locals.cart.totalQuantity %> </span></i> </span> 
  
              </a>
      
              
  
      
                <div class="dropdown">
                <a
                    class="dropdown-toggle d-flex align-items-center hidden-arrow navbar--link"
                    href="#"
                    id="navbarDropdownMenuAvatar"
                    role="button"
                    data-mdb-toggle="dropdown"
                    aria-expanded="false"
                >
                <span class="d-md-block text-dark" ><span class="fa fa-user"></span> 
              Account</span>
                
                </a>
                <ul
                    class="dropdown-menu dropdown-menu-end"
                    aria-labelledby="navbarDropdownMenuAvatar"
                >
                    
                      <li>
                        <a class="dropdown-item" href="#">Profile</a>
                        </li>
                    <li>
                    <a class="dropdown-item" href="#">Orders</a>
                    </li>
                    <li>
                    <a class="dropdown-item" href="#">Historic</a>
                    </li>
                    <li>
                    <a class="dropdown-item" href="#">Deconnexion</a>
                    </li>
                </ul>
                </div>
            </div>
            </div>
          </nav>