<div class="card card__item">
    <img src="<%= item.product.thumbnail %>" alt="" class="card-img-top">
    <div class="card-body">
        <div class="card-title h2"><%= item.product.title %></div>
        <a href="#" class="btn btn-warning">($<%= item.product.price.toFixed(2) %>)</a>
    </div>
</div>