<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/navbar/logo-navbar.jpeg" type="image/x-icon">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
  />
    <link rel="stylesheet" href="/bootstrap/css/mdb.min.css">
    <link rel="stylesheet" href="/css/style.css">
    
    <title>
        E-Shop
    </title>
</head>
<body>
    <!-- Navbar -->
    <%- include('../../shared/include/header') %>
    <!-- Navbar -->

    <!-- main -->
    <div class="main container">
        <div class="commandes-container">
        
            <h3 class="font-weight-bolder">
                Mes commandes
            </h3>

            <!-- Tabs navs -->
            <ul class="nav nav-pills nav-justified mb-3" id="ex-with-icons" role="tablist">
                <li class="nav-item" role="presentation">
                <a class="nav-link nav-valider active " id="ex-with-icons-tab-1" data-mdb-toggle="tab" href="#ex-with-icons-tabs-1" role="tab"
                    aria-controls="ex-with-icons-tabs-1" aria-selected="true"><i class="fa-solid fa-check me-2"></i>Validées</a>
                </li>
                <li class="nav-item" role="presentation">
                <a class="nav-link nav-encours" id="ex-with-icons-tab-2" data-mdb-toggle="tab" href="#ex-with-icons-tabs-2" role="tab"
                    aria-controls="ex-with-icons-tabs-2" aria-selected="false"><i class="fa-solid fa-spinner me-2"></i>En cours</a>
                </li>
                <li class="nav-item" role="presentation">
                <a class="nav-link nav-annuler" id="ex-with-icons-tab-3" data-mdb-toggle="tab" href="#ex-with-icons-tabs-3" role="tab"
                    aria-controls="ex-with-icons-tabs-3" aria-selected="false"><i class="fa-solid fa-ban me-2"></i>Annulées</a>
                </li>
            </ul>
            <!-- Tabs navs -->
            
            <!-- Tabs content -->
            <div class="tab-content" id="ex-with-icons-content">
                <div class="tab-pane fade show active" id="ex-with-icons-tabs-1" role="tabpanel" aria-labelledby="ex-with-icons-tab-1">

                
                    <!--card  produit commander-->
                    <div class="card">
                        <div class="row">
                        
                            <div class="col-md-2 img-container">
                                <img src="/images/autres/commande.png"  class="img-fluid"/>
                            </div>

                            <div class="col-md-7">
                                <h4 class="title">
                                    Nom du produit
                                </h4>
                            
                                <div class="pub-produit">
                                    <div class="">
                                        <span>
                                            date de la commende :
                                        </span>
                                        <span>
                                            10/04/2022
                                        </span>
                                        <span>
                                            à 18h 45
                                        </span>
                                    </div>

                                    <div class="">
                                        <span>
                                            moyen de paiement :
                                        </span>
                                        <span>
                                            Orange Money
                                        </span>
                                        
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-2 prix-commande">
                                <p>
                                    10 000  FCFA
                                </p>
                            </div>

                        </div>

                    </div>
                    <!--fin card des produit produit commander-->

                              <!--card  produit commander-->
                              <div class="card">
                                <div class="row">
                                
                                    <div class="col-md-2 img-container">
                                        <img src="/images/autres/commande.png"  class="img-fluid"/>
                                    </div>
        
                                    <div class="col-md-7">
                                        <h4 class="title">
                                            Nom du produit
                                        </h4>
                                    
                                        <div class="pub-produit">
                                            <div class="">
                                                <span>
                                                    date de la commende :
                                                </span>
                                                <span>
                                                    10/04/2022
                                                </span>
                                                <span>
                                                    à 18h 45
                                                </span>
                                            </div>
        
                                            <div class="">
                                                <span>
                                                    moyen de paiement :
                                                </span>
                                                <span>
                                                    Orange Money
                                                </span>
                                                
                                            </div>
                                        </div>
        
                                    </div>
        
                                    <div class="col-md-2 prix-commande">
                                        <p>
                                            10 000  FCFA
                                        </p>
                                    </div>
        
                                </div>
        
                            </div>
                            <!--fin card des produit produit commander-->
        

                </div>

                <div class="tab-pane fade" id="ex-with-icons-tabs-2" role="tabpanel" aria-labelledby="ex-with-icons-tab-2">

                    <!--card  produit commander-->
                    <div class="card">
                        <div class="row">
                        
                            <div class="col-md-2 img-container">
                                <img src="/images/autres/commande.png"  class="img-fluid"/>
                            </div>

                            <div class="col-md-7">
                                <h4 class="title">
                                    Nom du produit
                                </h4>
                            
                                <div class="pub-produit">
                                    <div class="">
                                        <span>
                                            date de la commende :
                                        </span>
                                        <span>
                                            10/04/2022
                                        </span>
                                        <span>
                                            à 18h 45
                                        </span>
                                    </div>

                                    <div class="">
                                        <span>
                                            moyen de paiement :
                                        </span>
                                        <span>
                                            Orange Money
                                        </span>
                                        
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-2 prix-commande">
                                <p>
                                    10 000  FCFA
                                </p>
                            </div>

                        </div>

                    </div>
                    <!--fin card des produit produit commander-->



                </div>

                <div class="tab-pane fade" id="ex-with-icons-tabs-3" role="tabpanel" aria-labelledby="ex-with-icons-tab-3">





                              <!--card  produit commander-->
                              <div class="card">
                                <div class="row">
                                
                                    <div class="col-md-2 img-container">
                                        <img src="/images/autres/commande.png"  class="img-fluid"/>
                                    </div>
        
                                    <div class="col-md-7">
                                        <h4 class="title">
                                            Nom du produit
                                        </h4>
                                    
                                        <div class="pub-produit">
                                            <div class="">
                                                <span>
                                                    date de la commende :
                                                </span>
                                                <span>
                                                    10/04/2022
                                                </span>
                                                <span>
                                                    à 18h 45
                                                </span>
                                            </div>
        
                                            <div class="">
                                                <span>
                                                    moyen de paiement :
                                                </span>
                                                <span>
                                                    Orange Money
                                                </span>
                                                
                                            </div>
                                        </div>
        
                                    </div>
        
                                    <div class="col-md-2 prix-commande">
                                        <p>
                                            10 000  FCFA
                                        </p>
                                    </div>
        
                                </div>
        
                            </div>
                            <!--fin card des produit produit commander-->
        

                </div>

            </div>
            <!-- Tabs content -->
        
        </div>
    </div>
    <!-- fin main-->


        <!-- footer -->
        <footer class="footer text-center text-white">
            <!-- Grid container -->
            <div class="container p-4">
           
        
            <!-- Section: Form -->
            <section class="">
                <form action="">
                <!--Grid row-->
                <div class="row d-flex justify-content-center">
                    <!--Grid column-->
                    <div class="col-auto">
                    <p class="pt-2">
                        <strong>
                            Voullez-vous connaitre les nouveautés ? Entrer votre Email.
                        </strong>
                    </p>
                    </div>
                    <!--Grid column-->
        
                    <!--Grid column-->
                    <div class="col-md-5 col-12">
                    <!-- Email input -->
                    <div class="form-outline form-white mb-4">
                        <input type="email" id="form5Example21" class="form-control" />
                        <label class="form-label" for="form5Example21">Votre email</label>
                    </div>
                    </div>
                    <!--Grid column-->
        
                    <!--Grid column-->
                    <div class="col-auto">
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-outline-light mb-4">
                        Envoyer
                    </button>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
                </form>
            </section>
            <!-- Section: Form -->
        
            <!-- Section: Text -->
            <section class="mb-4">
                <p>
                    la reference pour tous vos achats et ventes de produits et services sur Internet, efficace, sure avec des moyens de paiements simplifiés.
                </p>
            </section>
            <!-- Section: Text -->
        
            <!-- Section: Links -->
            <section class="">
                <!--Grid row-->
                <div class="row mx-auto text-center">
                <!--Grid column-->
                <div class="">
                    <h5 class="text-uppercase">Nos Contacts</h5>
        
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">
                                vickythoeros@gmail.com
                            </a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">
                                05 06 07 08 09
                            </a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">
                                05 06 07 08 09
                            </a>
                        </li>
                 
                    </ul>
                </div>
                <!--Grid column-->
        
                
                </div>
                <!--Grid row-->
            </section>
            <!-- Section: Links -->
            </div>
            <!-- Grid container -->
        
            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 Copyright:
            <a class="text-white" href="/">e-shop.com</a>
            </div>
            <!-- Copyright -->
        </footer>
        <!-- fin footer -->

        <script src="/bootstrap/js/bootstrap.min.js"></script>
        <script src="/bootstrap/js/mdb.min.js"></script>
    
</body>
</html>