<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/navbar/logo-navbar.jpeg" type="image/x-icon">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
  />
    <link rel="stylesheet" href="/bootstrap/css/mdb.min.css">
    <link rel="stylesheet" href="/css/style.css">
    
    <title>
        E-Shop
    </title>
</head>
<body>
     <!-- Navbar -->
     <%- include('../../shared/include/header') %>
    <!-- Navbar -->

    <!-- main -->
    <div class="main container">
        <div class="profil-utilisateur">

        
            <h3 class="font-weight-bolder">
                Mon profil
            </h3>
            
            <form>
                <div class="row mb-4">
                <div class="col">
                    <div class="form-outline">
                    <input type="text" id="nom" class="form-control form-control-lg" />
                    <label class="form-label" for="nom">Nom</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                    <input type="text" id="prenom" class="form-control form-control-lg" />
                    <label class="form-label" for="prenom">Prenom</label>
                    </div>
                </div>
                </div>
        
                <!-- Text input -->
                <div class="form-outline mb-4 mt-5">
                    <input type="text" id="ville" class="form-control form-control-lg" />
                    <label class="form-label" for="ville">Ville</label>
                </div>
            
                <!-- Email input -->
                <div class="form-outline mb-4 mt-5">
                    <input type="email" id="email" class="form-control form-control-lg" />
                    <label class="form-label" for="email">Email</label>
                </div>
            
                <!-- Number input -->
                <div class="form-outline mb-4 mt-5">
                    <input type="text" id="numerotelephone" class="form-control form-control-lg" />
                    <label class="form-label" for="numerotelephone">Numero de telephone</label>
                </div>

                <!-- Number input -->
                <div class="form-outline mb-4 mt-5" >
                    <input type="password" id="motdepasse" class="form-control form-control-lg" />
                    <label class="form-label" for="motdepasse">Mot de passe</label>
                </div>

                <!-- Number input -->
                <div class="form-outline mb-4 mt-5">
                    <input type="password" id="motdepasse2" class="form-control form-control-lg" />
                    <label class="form-label" for="motdepasse2">Confirmer mot de passe</label>
                </div>
            
               
                <!-- Submit button -->
                <button type="submit" class="btn btn-block btn-lg mb-4 mt-5">Enregistrer la mise à jour</button>

            </form>
        </div>
    </div>
    <!-- fin main-->


        <!-- footer -->
        <footer class="footer text-center text-white">
            <!-- Grid container -->
            <div class="container p-4">
           
        
            <!-- Section: Form -->
            <section class="">
                <form action="">
                <!--Grid row-->
                <div class="row d-flex justify-content-center">
                    <!--Grid column-->
                    <div class="col-auto">
                    <p class="pt-2">
                        <strong>
                            Voullez-vous connaitre les nouveautés ? Entrer votre Email.
                        </strong>
                    </p>
                    </div>
                    <!--Grid column-->
        
                    <!--Grid column-->
                    <div class="col-md-5 col-12">
                    <!-- Email input -->
                    <div class="form-outline form-white mb-4">
                        <input type="email" id="form5Example21" class="form-control" />
                        <label class="form-label" for="form5Example21">Votre email</label>
                    </div>
                    </div>
                    <!--Grid column-->
        
                    <!--Grid column-->
                    <div class="col-auto">
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-outline-light mb-4">
                        Envoyer
                    </button>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
                </form>
            </section>
            <!-- Section: Form -->
        
            <!-- Section: Text -->
            <section class="mb-4">
                <p>
                    la reference pour tous vos achats et ventes de produits et services sur Internet, efficace, sure avec des moyens de paiements simplifiés.
                </p>
            </section>
            <!-- Section: Text -->
        
            <!-- Section: Links -->
            <section class="">
                <!--Grid row-->
                <div class="row mx-auto text-center">
                <!--Grid column-->
                <div class="">
                    <h5 class="text-uppercase">Nos Contacts</h5>
        
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">
                                vickythoeros@gmail.com
                            </a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">
                                05 06 07 08 09
                            </a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">
                                05 06 07 08 09
                            </a>
                        </li>
                 
                    </ul>
                </div>
                <!--Grid column-->
        
                
                </div>
                <!--Grid row-->
            </section>
            <!-- Section: Links -->
            </div>
            <!-- Grid container -->
        
            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 Copyright:
            <a class="text-white" href="/">e-shop.com</a>
            </div>
            <!-- Copyright -->
        </footer>
        <!-- fin footer -->

        <script src="/bootstrap/js/bootstrap.min.js"></script>
        <script src="/bootstrap/js/mdb.min.js"></script>
    
</body>
</html>